
* {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

:root {
  --darkblue: hsl(240, 100%, 10%);
  --lightblue: #ebfdff;
  --pink: #e94e68;
}

.hero {
  background-color: var(--darkblue);
}

h1 {
  color:var(--lightblue);
  font-family: 'Righteous';
}

a:hover, a:active {
  background: var(--pink);
}

button:hover, button:active {
  background: var(--pink);
  }

