:root {
  --darkblue: hsl(240, 100%, 10%);
  --lightblue: #ebfdff;
  --pink: #e94e68;
}

* {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  color:var(--lightblue);
  font-family: 'Righteous';
}

a:hover, a:active {
  background: var(--pink);
}

button:hover, button:active {
  background: var(--pink);
  }

.hero {
  background-color: var(--darkblue);
}

.search-content {
  display: none;
}

#body-name {
  display: none;
}



